<h1>Listing teams</h1>

<table>
  <thead>
    <tr>
      <th>Token</th>
      <th>Team</th>
      <th>City</th>
      <th>Turnir</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @teams.each do |team| %>
      <tr>
        <td><%= team.token %></td>
        <td><%= team.team %></td>
        <td><%= team.city %></td>
        <td><%= team.turnir_id %></td>
        <td><%= link_to 'Show', team %></td>
        <td><%= link_to 'Edit', edit_team_path(team) %></td>
        <td><%= link_to 'Destroy', team, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Team', new_team_path %>
