$('.game_<%= params[:verdict][:turnir] %><%= params[:verdict][:question] %><%= params[:verdict][:i] %>').html('');

$('.gamest_<%= params[:verdict][:turnir] %><%= params[:verdict][:question] %><%= params[:verdict][:i] %>').html('<%= word %>');
