
<%= form_for(@jsonparser) do |f| %>
  <% if @jsonparser.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@jsonparser.errors.count, "error") %> prohibited this jsonparser from being saved:</h2>

      <ul>
      <% @jsonparser.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :json_body %><br>
    <%= f.text_area :json_body %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
