<h1>Listing jsonparsers</h1>

<table>
  <thead>
    <tr>
      <th>Json body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @jsonparsers.each do |jsonparser| %>
      <tr>
        <td><%= jsonparser.json_body %></td>
        <td><%= link_to 'Show', jsonparser %></td>
        <td><%= link_to 'Edit', edit_jsonparser_path(jsonparser) %></td>
        <td><%= link_to 'Destroy', jsonparser, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Jsonparser', new_jsonparser_path %>
