<p id="notice"><%= notice %></p>

<p>
  <strong>Json body:</strong>
  <%= @jsonparser.json_body %>
</p>

<%= link_to 'Edit', edit_jsonparser_path(@jsonparser) %> |
<%= link_to 'Back', jsonparsers_path %>
