    <div id="wrapper">
  <div class="container">
    <div>
      <div class="row">
        <div class="col-lg-4">
<% provide(:title, 'Принять участие (регистрация)') %>
<h1>Регистрация</h1>
<hr/>
<div class="row">
  <div class="span6 offset3">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <div class="control-group">
      <%= f.label "Фамилия" %>
    <div class="controls">
      <%= f.text_field :surname, class: "form-control" %>
  </div>  </div>
  <div class="control-group">
      <%= f.label "Имя" %>
    <div class="controls">
      <%= f.text_field :name, class: "form-control" %>
    </div>
  </div>
  <div class="control-group">
      <%= f.label "Отчество" %>
    <div class="controls">
      <%= f.text_field :patronym, class: "form-control" %>
    </div>
  </div>

  <div class="control-group">
      <%= f.label "Город" %>
    <div class="controls">
      <%= f.text_field :city, class: "form-control" %>
  </div>  </div>
  <div class="control-group">
      <%= f.label "Название команды/Организация" %>
    <div class="controls">
      <%= f.text_field :organisation, class: "form-control" %>
  </div>  </div>
  <div class="control-group">
      <%= f.label "Актуальный E-mail" %>
    <div class="controls">
      <%= f.text_field :email, class: "form-control" %>
  </div>  </div>
  <div class="control-group">
      <%= f.label "Пароль" %>
    <div class="controls">
      <%= f.password_field :password, class: "form-control" %>
  </div>  </div>
  <div class="control-group">

      <%= f.label "Подтверждение пароля" %>
    <div class="controls">
      <%= f.password_field :password_confirmation, class: "form-control" %>
  </div>  </div>
<br/>
  <div class="control-group">
    <div class="error"></div>
      <%= f.submit "Регистрация", class: "btn btn-lg btn-info" %>
  </div>
    <% end %>
  </div>
</div><%= render "devise/shared/links" %>


  </div>
  </div>
  </div>
  </div>
  </div>


