<% provide(:title, 'Новый турнир') %>

<div class="row">
    <div class="span6 offset3">
        <%= form_for(@turnir) do |f| %>
            <div class="control-group">
                <%= f.label "ID" %>
                <div class="controls">
                    <%= f.number_field :numbertur %>
                </div>
            </div>
            <div class="control-group">
                <%= f.label "Название" %>
                <div class="controls">
                    <%= f.text_field :name %>
                </div>
            </div>
            <div class="control-group">
                <%= f.label "Начало турнира (мск): YYYYMMDDThhmmss" %>
                <div class="controls">
                    <%= f.text_field :start_game %>
                </div>
            </div>
            <div class="control-group">
                <%= f.label "Окончание турнира (мск): YYYYMMDDThhmmss" %>
                <div class="controls">
                    <%= f.text_field :end_game %>
                </div>
            </div>
            <div class="control-group">
                <%= f.label "Тип турнира(single, race, multi)" %>
                <div class="controls">
                    <%= f.text_field :game_type %>
                </div>
            </div>
            <div class="control-group">
                <%= f.label "Файл с вопросами" %>
                <div class="controls">
                    <%= f.file_field :file_question %>
                </div>
            </div>
            <div class="control-group">
                <%= f.label "Нижняя граница" %>
                <div class="controls">
                    <%= f.text_field :downtime %>
                </div>
            </div>
            <div class="control-group">
                <%= f.label "Время неправильного ответа" %>
                <div class="controls">
                    <%= f.text_field :wrongtime %>
                </div>
            </div>
            <div class="control-group">
                <%= f.label "Стоимость" %>
                <div class="controls">
                    <%= f.text_field :price %>
                </div>
            </div>
            <div class="control-group">
                <div class="error"></div>
              <%= f.submit "Сохранить", class: "btn btn-large btn-primary" %>
            </div>
        <% end %>
    </div>
</div>

