<table class="table table-bordered">
    <thead>
        <tr class="info">
            <th>#</th>
            <th>Название команды</th>
            <th>Капитан</th>
            <th>Город</th>
            <th>Сумма</th>

            <% (1..@tit).each do |plainanswer| # поставляет номера вопросов в заголовки%>
                <th><%=plainanswer%></th>
            <% end %>

            <% if current_user && current_user.is_admin # действие только для админа%>
                <th>Действия</th>
            <% end %>
        </tr>
    </thead>
    <tbody>
        <% @teams.sort_by {|team| team.top(@turnir.numbertur, @turnir.show, @turnir.game_type, locals[:show])}.reverse.each_with_index do |team, i| %>

            <% @thitteamanswers = @answers.where(:token => team.token).where("number <= " + @turnir.show.to_s).where("number <= " + locals[:show].to_s)%>
            <% @members = Member.where(:token => team.token) %>
            <% @authuser = User.find(Token.find(team.token).user_id) %>

            <tr>
                <th><%= i+1 %></th>
                <td>
                  <%= @authuser.organisation %>
                </td>
                <td>
                  <%=
                    if @members.where(:membership => 'captain').first != nil

                      @members.where(:membership => 'captain').first.name_fst + ' ' + @members.where(:membership => 'captain').first.family
                    end
                  %>
                </td>
                <td>
                  <%= @authuser.city %>
                </td>
                <th>
                  <% case @turnir.game_type %>
                    <% when "single" %>
                      <%= @thitteamanswers.where(:right => true).map(&:number).uniq.count %>
                    <% when "race" %>
                      <%= @thitteamanswers.sum(:resulttime) %>
                  <% end %>
                </th>

                <% (1..@tit).each do |an| %>

                  <td>
                    <% if an <= @turnir.show && an <= locals[:show].to_i %>
                      <% @result = @thitteamanswers.where(:number => an).first %>
                      <% case @turnir.game_type %>
                        <% when "single" %>
                          <%= '1' if @result && @result.right == true %>
                          <%= '0' if @result && @result.right == false %>
                          <%= '?' if @result && @result.right == nil %>
                        <% when "race" %>
                          <%= @result.resulttime if @result != nil %>
                      <% end %>
                    <% end %>
                  </td>

                <% end %>

                <% if current_user && current_user.is_admin %>
                  <th>
                    <a href="/edit/<%= @turnir.numbertur %>/<%= team.token %>">Ред </a> &nbsp;
                  </th>
                <% end %>
            </tr>
        <% end %>
    </tbody>
</table>

