<div id="wrapper">
    <div class="container">
        <div>
            <div class="row">
                <%- model_class = Turnir -%>
                <div class="page-header">
                    <h1><%=t '.title', :default => 'Турниры' %></h1>
                </div>
                <% flash.each do |name, msg| %>
                    <%= content_tag :p, msg, class: name %>
                <% end %>
                <% if current_user && current_user.is_admin? %>
		            <%= render 'layouts/adminheader'%>
                    <%= link_to t('.new', :default => "Добавить турнир"), new_turnir_path, :class => 'btn btn-success' %>
                <% end %>
                <br/>
                <br/>
                <table class="table table-bordered">
                    <thead>
                        <tr class="info">
                            <th>ID</th>
                            <th>Название</th>
                            <th>Начало</th>
                            <th>Окончание</th>
                            <th>Стоимость</th>
                            <th>Результаты</th>
                            <th>Вопросы</th>
                            <th>Действия</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @turnirs.each do |turnir| %>
                            <tr>
                                <td><%= turnir.numbertur%></td>
                                <td><%= turnir.name %></td>
                                <td><%= turnir.start_game %></td>
                                <td><%= turnir.end_game %></td>
                                <td><%= turnir.price %></td>
                                <td><%= link_to 'Смотреть результаты', turnir_path(turnir) %></td>
                                <td>
                                <% if current_user %>
                                  <%= form_for(current_user, url: buy_turnir_user_path(current_user.id), method: :get) do |f| %>
                                      <%= f.hidden_field :turnir, value: turnir.id %>
                                      <%= f.submit value: "Купить", class: 'btn btn-primary' %>
                                  <% end %>
                                <% end %>
                                </td>
                                <% if current_user && current_user.is_admin? %>
                                <td><%= link_to "Скачать", turnir.file_question.url, :class=>'btn btn-mini btn-primary' %></td>
                                <td>
                                    <%= link_to "Редактировать", edit_turnir_path(turnir), class: 'btn btn-mini btn-primary'%>
                                    <%= link_to "Удалить", turnir_path(turnir), :method => :delete, :confirm => 'Are you sure ?', :class=>'btn btn-mini btn-danger'%>
                                </td>
                                <% else %>
                                    <td></td>
					            <% end %>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
