
    <div id="wrapper">
	<div class="container">

      <div >
        <div class="row">
<h1>New turnir</h1>

<%= render 'form' %>

<%= link_to 'Back', turnirs_path %>


        </div>
      </div>
    </div>
	  </div>
