<div id="wrapper">
    <div class="container">
        <div>
            <div class="row">
                <div class="page-header">
                    <h1><%=t  @turnir.name %></h1>
                    <h3>Результаты турнира </h3>
                </div>
                <% if current_user && current_user.is_admin %>

                    <% #cache('result_' + @turnir.id.to_s + '_admin', :expires_in => 10.minutes) do %>
                    <%= form_for(@turnir, url: result_turnir_path, method: :post, remote: true) do |f|%>

                        <%= f.hidden_field :id %>
                        <%= f.submit value: "Расчитать" %>
                    <% end %>
                    <% if @tit != nil %>
                        <%= form_for(@turnir, url: show_turnir_path, method: :post, remote: true) do |f| %>
                            <%= select("turnir", "show", (1..@tit).to_a, {include_blank: false}) %>
                            <%= f.hidden_field :id %>
                            <%= f.submit value: "Показать" %>
                        <% end %>
                        <% if @turnir.show != nil %>
                              <div id="results">
                                <%= render 'results', :locals => { :show => @tit } %>
                              </div>
                            <% #end %>
                        <% end %>
                    <% end %>
                <% else # если не админ%>

                    <% if @tit != nil %>
                        <%= form_for(@turnir, url: show_turnir_path, method: :post, remote: true) do |f| %>

                            <%= select("turnir", "show", (1..@tit).to_a, {include_blank: false}) %>
                            <%= f.hidden_field :id %>
                            <%= f.submit value: "Показать" %>
                        <% end %>

                        <% if @turnir.show != nil %>
                            <div id="results">
                                <%= render 'results', :locals => { :show => @tit } %>
                            </div>
                        <% end %>
	                <% end %>
                <% end # проверка на админа%>
                <br>
            </div>
        </div>
    </div>
</div>
