<% if current_user != nil && current_user.is_admin %>
  alert('Отображение изменено');
<% else %>
  $('#results').html("\
                     <%= j render 'results', 
                        :locals => {:show => show }%>\
                     ");
  console.log('Таблица обновлена <%= show %>');
<% end %>
