#encoding: utf-8
Здравствуйте, кто-то запросил восстановление пароля в системе MindPowerGame.com с учетной записи под вашим E-mail. 

Ваш новый пароль: <%= @pass %>

Спасибо за регистрацию.
ВНИМАНИЕ: если данное письмо пришло вам по ошибке, просто проигнорируйте его и не производите никаких действий.


