<% provide(:title, 'Новый турнир') %>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@winpack) do |f| %>
  <div class="control-group">
      <%= f.label "Платформа, через запятую" %>
    <div class="controls">
      <%= f.text_field :platform %>
  </div>  </div>
  <div class="control-group">
      <%= f.label "Версия" %>
    <div class="controls">
      <%= f.text_field :version %>
  </div>  </div>
  <div class="control-group">
      <%= f.label "Минимальная актуальная версия" %>
    <div class="controls">
      <%= f.text_field :minversion %>
  </div>  </div>
  <div class="control-group">
    <%= f.label "Тип дистрибутива(dist, update)" %>
    <div class="controls">
      <%= f.text_field :client_type %>
    </div>
  </div>
  <div class="control-group">
      <%= f.label "Пак" %>
    <div class="controls">
      <%= f.file_field :file_pack %>
  </div>  </div>
  <div class="control-group">
    <%= f.label "JSon" %>
    <div class="controls" %>
      <%= f.text_area  :json %>
    </div>
  </div>
  <div class="control-group">
    <div class="error"></div>
      <%= f.submit "Сохранить", class: "btn btn-large btn-primary" %>
  </div>
    <% end %>
  </div>
</div>


