<h1>Editing winpack</h1>
<%= form_for(@winpack, url: archurl_winpack_path(@winpack), method: :get, remote:true) do |f| %>
  <%= f.submit "winpack url" %>
<% end %>
<p id="archurl"></p>
<%= render 'form' %>
<%= link_to 'Show', @winpack %> |
<%= link_to 'Back', winpacks_path %>
