
    <div id="wrapper">
	<div class="container">

      <div >
        <div class="row">

<%- model_class = Turnir -%>
<div class="page-header">
  <h1>Дистрибутивы</h1>
</div>
<%= render 'layouts/adminheader'%>

<%= link_to t('.new', :default => "Добавить дистрибутив"),
            new_winpack_path,
            :class => 'btn btn-primary btn-success' %>
<br/>
<br/>
<table class="table table-bordered">
  <thead>
    <tr class="info">
      <th>ID</th>
      <th>Платформы</th>
      <th>Версия</th>
      <th>Минимальная версия</th>
      <th>Файл</th>
      <th>Действия</th>
    </tr>
  </thead>
  <tbody>
    <% @winpacks.each do |turnir| %>
      <tr>
        <td><%= turnir.id %></td>
        <td><%= turnir.platform %></td>
        <td><%= turnir.version %></td>
        <td><%= turnir.minversion %></td>
        <td><%= link_to "Скачать", turnir.file_pack.url, :class=>'btn btn-mini btn-info' %></td>
        <td>
          <%= link_to "Изменить", edit_winpack_path(turnir), class: "btn btn-mini btn-primary" %>
          <%= link_to "Удалить", winpack_path(turnir), :method => :delete, :confirm => 'Are you sure ?', :class=>'btn btn-mini btn-danger'%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>



        </div>
      </div>
    </div>
	  </div>
