
    <div id="wrapper">
	<div class="container">

      <div >
        <div class="row">

<h1>New winpack</h1>

<%= render 'form' %>

<%= link_to 'Back', winpacks_path %>



        </div>
      </div>
    </div>
	  </div>
