<p id="notice"><%= notice %></p>

<p>
  <strong>Platform:</strong>
  <%= @winpack.platform %>
</p>

<p>
  <strong>Version:</strong>
  <%= @winpack.version %>
</p>

<p>
  <strong>Minversion:</strong>
  <%= @winpack.minversion %>
</p>

<p>
  <strong>File pack:</strong>
  <%= @winpack.file_pack %>
</p>

<%= link_to 'Edit', edit_winpack_path(@winpack) %> |
<%= link_to 'Back', winpacks_path %>
