<% provide(:title, 'Принять участие (регистрация)') %>
<h1>Регистрация</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(User.new, :remote => true) do |f| %>
  <div class="control-group">
      <%= f.label "Фамилия" %>
    <div class="controls">
      <%= f.text_field :surname %>
  </div>  </div>
  <div class="control-group">
      <%= f.label "Имя" %>
    <div class="controls">
      <%= f.text_field :name %>
  </div>  </div>
  <div class="control-group">
      <%= f.label "Город" %>
    <div class="controls">
      <%= f.text_field :city %>
  </div>  </div>
  <div class="control-group">
      <%= f.label "Организация" %>
    <div class="controls">
      <%= f.text_field :organisation %>
  </div>  </div>
  <div class="control-group">
      <%= f.label "Актуальный E-mail" %>
    <div class="controls">
      <%= f.text_field :mail %>
  </div>  </div>
  <div class="control-group">
      <%= f.label "Пароль" %>
    <div class="controls">
      <%= f.password_field :password %>
  </div>  </div>
  <div class="control-group">

      <%= f.label "Подтверждение пароля" %>
    <div class="controls">
      <%= f.password_field :password_confirmation %>
  </div>  </div>
  <div class="control-group">
    <div class="error"></div>
      <%= f.submit "Регистрация", class: "btn btn-large btn-primary" %>
  </div>
    <% end %>
  </div>
</div>
