<% provide(:title, 'Редактирование зарегистрированного участниука') %>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
  <div class="control-group">
      <%= f.label "Фамилия" %>
    <div class="controls">
      <%= f.text_field :surname %>
  </div>  </div>
  <div class="control-group">
      <%= f.label "Имя" %>
    <div class="controls">
      <%= f.text_field :name %>
  </div>  </div>
  <div class="control-group">
      <%= f.label "Город" %>
    <div class="controls">
      <%= f.text_field :city %>
  </div>  </div>
  <div class="control-group">
      <%= f.label "Организация" %>
    <div class="controls">
      <%= f.text_field :organisation %>
  </div>  </div>
  <div class="control-group">
      <%= f.label "Актуальный E-mail" %>
    <div class="controls">
      <%= f.text_field :mail %>
  </div>  </div>
  <div class="control-group">
      <%= f.label "Права администратора" %>
    <div class="controls">
      <%= f.check_box :is_admin%>
  </div>  </div>
  <div class="control-group">
      <%= f.label "Убрать из списка" %>
    <div class="controls">
      <%= f.check_box :verifed%>
  </div>  </div>
  <div class="control-group">

  <div class="control-group">
    <div class="error"></div>
      <%= f.submit "Сохранить", class: "btn btn-large btn-primary" %>
  </div>
    <% end %>
  </div>
</div>
