<div id="wrapper">
    <div class="container">
        <div>
            <div class="row">
                <%- model_class = User -%>
                <div class="page-header">
                    <h1><%=t '.title', :default => 'Пользователи' %></h1>
                </div>
                <%= render 'layouts/adminheader'%>

                <%= link_to t('.new', :default => "Добавить пользователя"),
                            new_user_path,
                            :class => 'btn btn-success' %>
                <br/>
                <br/>
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr class="info">
                            <th>ID</th>
                            <th>Имя</th>
                            <th>Фамилия</th>
                            <th>А?</th>
                            <th>E-mail</th>
                            <th>Город</th>
                            <th>Организация</th>
                            <th>Управление</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @users.each do |user| %>
                            <tr>
                                <td><%= link_to user.id, user_path(user) %></td>
                                <td><%= user.name %></td>
                                <td><%= user.surname %></td>
                                <td><%= user.is_admin %></td>
                                <td><%= user.email %></td>
                                <td><%= user.city %></td>
                                <td><%= user.organisation %></td>
                                <td>
                                    <%= link_to t('.edit', :default => "Изменить"), edit_user_path(user), :class => 'btn btn-mini btn-primary' %>
                                </td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>