    <div id="wrapper">
	<div class="container">

      <div >
        <div class="row">

<%- model_class = User -%>
<div class="page-header">
  <h1><%= @user.name %> <%= @user.surname %></h1>
</div>
  <p>E-mail: <%= @user.email %></p>

<h2>Кошелек:</h2>

<p class="success"><%= flash[:success] %></p>

<table class="table table-bordered">
<tbody>
          <tr>
            <td>Баланс кошелька</td>
            <td><%= @user.check %>  руб.</td>
          </tr>
          <tr>
            <td>Пополнение</td>
            <td><%= form_tag new_order_user_path, method: :get do %>
    <%= text_field_tag :check %>
    <%= submit_tag "Пополнить"%>
<% end %>
</td>
          </tr>
</tbody>
</table>

<h2>Купленные турниры</h2>
<table class="table table-bordered">
    <thead>
      <tr class="info">
        <th>ID</th>
        <th>Название</th>
        <th>Начало</th>
        <th>Окончание</th>
        <th>Стоимость</th>
        <th>Вопросы</th>
        <th>Действия</th>
      </tr>
      </thead>
      <tbody>
      <% @turnirs.each do |turnir| %>
          <tr>
            <td><%= turnir.numbertur%></td>
            <td><%= turnir.name %></td>
            <td><%= turnir.start_game %></td>
            <td><%= turnir.end_game %></td>
            <td><%= turnir.price %></td>
            <td><%= link_to "Скачать", turnir.file_question.url, :class=>'btn btn-mini btn-primary' %></td>
            <td>
              <% if current_user.is_admin? %>
                  <%= link_to "Редактировать", edit_turnir_path(turnir), class: 'btn btn-mini btn-primary'%>
                  <%= link_to "Удалить", turnir_path(turnir), :method => :delete, :confirm => 'Are you sure ?', :class=>'btn btn-mini btn-danger'%>
              <% end %>
            </td>
          </tr>
      <% end %>
    </tbody>
</table>
<h2>Действия</h2>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              users_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_user_path(@user), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              user_path(@user),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>

</div>
</div>
</div>
</div>

