<% if @user.is_gamer == true %>
$('.game_<%= @user.id %>').html('<%= j(render :partial => 'button', :locals => { :user => @user, :val => '0', :class1 => 'warning', :msg => 'Из игры!'}) %>');
<% else %>
$('.game_<%= @user.id %>').html('<%= j(render :partial => 'button', :locals => { :user => @user, :val => '1', :class1 => 'info', :msg => 'В игру!'}) %>');
<% end %>
