    <div id="wrapper">
  <div class="container">
    <div>
      <div class="row">
        <div class="col-lg-12">
<h2>Восстановление пароля</h2>

<% flash.each do |name, msg| %>
    <%= content_tag :p, msg, class: name %>
<% end %>
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "Отправить инструкции для восстановления пароля", class: "btn btn-info" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>

  </div>
  </div>
  </div>
  </div>
  </div>

