
<div class="page-header">
  <h1><%=t '.title', :default => 'Турнирные таблицы' %></h1>
</div>
<% if current_user && current_user.is_admin %>
<a href="/"> На главную </a> | <a href="/answers"> Ответы </a> | <a href="/users"> Пользователи </a> | <a href="/results"> Результаты </a> (<a href="/results2"> По времени </a>)| <a href="/logs">Лог </a>  | <a href="/deleteall">Очистить все</a> 
<br><br>
<% end %>
<% @tournirs.reverse.each do |turnir| %>
<table class="table table-striped">
  <thead>
    <tr>
     <th></th>
  <th> Турнир ID <%=turnir%></th>
  <th></th>  <th></th>
    </tr>
  </thead>
   <thead>
    <% @tks = Team.where(:turnir_id => turnir).collect(&:token) %>
     <tr>
       <th></th>
       <th>Организация</th>
       <th>Капитан</th>
       <th>Город</th>
       <% Answer.where(:token => @tks).sort_by(&:number).map(&:number).uniq.each do |plainanswer| %>
         <th><%=plainanswer%></th>
       <% end %>
              <th>Сумма</th>
     </tr>
   </thead>
   <tbody>
     <% Team.where(:turnir_id => turnir).sort_by {|team| team.created_at }.reverse.each_with_index do |team, i| %>
     <tr>
       <% @thitteamanswer = Answer.where(:token => team.token).collect(&:answer) %>
       <th><%= i+1 %> </th>
       <td><%= User.find(Token.find(team.token).user_id).organisation if Token.find(team.token) != nil%><% if current_user && current_user.is_admin %><br>
<a data-toggle="popover" title="Ответы" data-content="<%= @thitteamanswer %>">
<%= team.created_at.in_time_zone('EET').strftime("%d.%m.%Y  в  %H:%M:%S") %>
</a><% end %></td>
       <td> <%= Member.where(:token => team.token, :membership => 'captain').first.name_fst + ' ' + Member.where(:token => team.token, :membership => 'captain').first.family if Member.where(:token => team.token, :membership => 'captain').first != nil%></td> 
       <td><%= User.find(Token.find(team.token).user_id).city %></td>
       <% Answer.where(:token => @tks).sort_by(&:number).map(&:number).uniq.each do |an| %>
         <td><% @result = Answer.where(:token => team.token, :number => an).first %>
            <%= '1' if @result && @result.right == true %>
            <%= '0' if @result && @result.right == false %>
            <%= '?' if @result && @result.right == nil %>
         </td>
       <% end %>
       <th><%= Answer.where(:token => team.token, :right => true).map(&:number).uniq.count %>  </th>
     </tr>
      <% end %>


  </tbody>

</table>

<br>
<% end %>





<br>

