

    <div id="wrapper">
	<div class="container">

      <div >
        <div class="row">
<div class="page-header">
  <h1><%=t '.title', :default => 'Результаты турниров' %></h1>
</div>

<%= render 'layouts/adminheader' if current_user && current_user.is_admin %>

<table class="table table-bordered">
  <thead>
    <tr class="info">
     <th>ID</th>
     <th>Название</th>
     <th>Результаты</th>
    </tr>
  </thead>
   <tbody>
<%Turnir.all.reverse.each do |turnir| %>
     <tr>
       <td><%=turnir.numbertur%></td>
       <td><%=turnir.name%></td>
       <td><a href='/turnirs/<%= turnir.id %>'>Смотреть итоги</a></td>
     </tr>
<% end %>
   </tbody>
</table>

<br>


        </div>
      </div>
    </div>
	  </div>
