<div id="wrapper">
    <div class="container">
        <div>
            <div class="row">
                <div class="page-header">
                    <h1><%=t '.title', :default => 'Ответы команд' %></h1>
                </div>
                <%= render 'layouts/adminheader'%>
                <% @tournirs.reverse.each do |turnir| %>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th colspan=4 class="danger"> <center>Турнир ID <%=turnir%></center></th>
                            </tr>
                        </thead>
                        <% @answers = Answer.where(:turnir_id => turnir) %>
                        <% @answers.group_by(&:number).each do |answer, agroup| %>
                            <thead>
                                <tr>
                                    <th colspan=4 class="info"><center>Вопрос №<%= answer%></center></th>
                                </tr>
                            </thead>
                            <tbody>
                                <% agroup.uniq{|x| x.answer}.sort! { |a,b| a[:answer].downcase <=> b[:answer].downcase }.each_with_index do |plainanswer, i| %>
                                    <tr>
                                        <td><%= plainanswer.answer %> </td>
                                        <td class="col-md-1 ">x<%= agroup.select{|answer| answer.answer == plainanswer.answer }.size %></td>
                                        <td class="col-md-1 ">
                                            <div class='gamest_<%=turnir%><%=answer%><%=i%>'>
                                                <% if Answer.where(:answer => plainanswer.answer, :turnir_id => turnir).first.right == true %>
                                                    Принят
                                                <% elsif Answer.where(:answer => plainanswer.answer, :turnir_id => turnir).first.right == false %>
                                                    Отклонен
                                                <% else %>
                                                    ?
                                                <% end %>
                                            </div>
                                        </td>
                                        <td class="col-md-3">
                                            <div class='game_<%=turnir%><%=answer%><%=i%>'>
                                                <% if Answer.where(:answer => plainanswer.answer, :turnir_id => turnir).first.right == true %>
                                                    <%=form_for(:verdict, :remote => true, url: verdicts_path) do |f| %>
                                                        <%= f.hidden_field :answervalue, :value => plainanswer.answer %>
                                                        <%= f.hidden_field :verdict, :value => 0 %>
                                                        <%= f.hidden_field :question, :value => answer %>
                                                        <%= f.hidden_field :turnir, :value => turnir %>
                                                        <%= f.hidden_field :i, :value => i %>
                                                        <button class='btn btn-mini btn-danger'>Отклонить</button>
                                                    <% end %>
                                                <% end %>
                                                <% if Answer.where(:answer => plainanswer.answer, :turnir_id => turnir).first.right == false %>
                                                    <%=form_for(:verdict, :remote => true, url: verdicts_path) do |f| %>
                                                        <%= f.hidden_field :answervalue, :value => plainanswer.answer %>
                                                        <%= f.hidden_field :verdict, :value => 1 %>
                                                        <%= f.hidden_field :question, :value => answer %>
                                                        <%= f.hidden_field :turnir, :value => turnir %>
                                                        <%= f.hidden_field :i, :value => i %>
                                                        <button class='btn btn-mini btn-success'>Принять</button>
                                                    <% end %>
                                                <% end %>
                                                <% if Answer.where(:answer => plainanswer.answer, :turnir_id => turnir).first.right == nil %>
                                                    <%=form_for(:verdict, :remote => true, url: verdicts_path, :html => {  :style => 'float:left;margin-right:5px;'}) do |f| %>
                                                        <%= f.hidden_field :answervalue, :value => plainanswer.answer %>
                                                        <%= f.hidden_field :verdict, :value => 1 %>
                                                        <%= f.hidden_field :question, :value => answer %>
                                                        <%= f.hidden_field :turnir, :value => turnir %>
                                                        <%= f.hidden_field :i, :value => i %>
                                                        <button class='btn btn-mini btn-success'>Принять</button>
                                                    <% end %>
                                                    <%=form_for(:verdict, :remote => true, url: verdicts_path) do |f| %>
                                                        <%= f.hidden_field :answervalue, :value => plainanswer.answer %>
                                                        <%= f.hidden_field :verdict, :value => 0 %>
                                                        <%= f.hidden_field :question, :value => answer %>
                                                        <%= f.hidden_field :turnir, :value => turnir %>
                                                        <%= f.hidden_field :i, :value => i %>
                                                        <button class='btn btn-mini btn-danger'>Отклонить</button>
                                                    <% end %>
                                                <% end %>
                                            </div>
                                        </td>
                                    </tr>
                                <% end %>
                            </tbody>
                        <% end %>
                    </table>
                    <br>
                <% end %>
                <br>
            </div>
        </div>
    </div>
</div>
