<%= form_for(@order) do |f| %>
    <% if @order.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

            <ul>
                <% @order.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="field">
        <%= f.label :amount %><br>
        <%= f.number_field :amount %>
    </div>
    <div class="field">
        <%= f.label :order_type %><br>
        <%= f.text_field :order_type %>
    </div>
    <div class="field">
        <%= f.label :status %><br>
        <%= f.text_field :status %>
    </div>
    <div class="field">
        <%= f.label :user_id %><br>
        <%= f.number_field :user_id %>
    </div>
    <div class="actions">
        <%= f.submit %>
    </div>
<% end %>
