    <div id="wrapper">
	<div class="container">
      <div >
        <div class="row">
<div class="page-header">
  <h1>Заказы</h1>
</div>
                <% if current_user && current_user.is_admin? %>
		    <%= render 'layouts/adminheader'%>
                    <%= link_to 'Добавить заказ', new_order_path, :class => 'btn btn-success' %>
                <% end %>

<table class="table table-bordered">
  <thead>
    <tr class="info">
      <th>Amout</th>
      <th>Type</th>
      <th>Status</th>
      <th>User</th>
      <td>Created at</td>
      <td>Updated at</td>
      <th colspan="3"></th>
    </tr>
  </thead>
    <tbody>
        <% @orders.each do |order| %>
            <tr>
                <td><%= order.amount %></td>
                <td><%= order.order_type %></td>
                <td><%= order.status %></td>
                <td><%= order.user_id %></td>
                <td><%= order.created_at.strftime("%d.%m.%Y, в %H:%M") %></td>
                <td><%= order.updated_at.strftime("%d.%m.%Y, в %H:%M") %></td>
                <td><%= link_to 'Show', order %></td>
                <td><%= link_to 'Edit', edit_order_path(order) %></td>
                <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
        <% end %>
    </tbody>
</table>и

<br>

</div>
</div>
</div>
</div>
