<p id="notice"><%= notice %></p>

<p>
  <strong>Amout:</strong>
  <%= @order.amount %>
</p>

<p>
  <strong>Type:</strong>
  <%= @order.order_type %>
</p>

<p>
  <strong>Status:</strong>
  <%= @order.status %>
</p>

<p>
  <strong>User:</strong>
  <%= @order.user_id %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
