  <div id="wrapper">
  <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="">
            <legend>Контакты и реквизиты</legend>
          <div>

Для технической поддержки и общих вопросов предпочтительнее использовать электронную почту:<br/>
E-mail: <a href="mailto:hello@mindpowergame.com">hello@mindpowergame.com</a><br/><br/>

Для решения срочных вопросов:<br/>
<b>Вячеслав Гаранович</b><br/>
<i>Сооснователь</i><br/>
<i>Юридические вопросы</i><br/>
Телефон +7 (968) 724 62 27 (Москва)<br/><br/>

<b>Максим Тепленёв</b><br/>
<i>Сооснователь</i><br/>
<i>Техническая поддержка, сотрудничество, совместные проекты, открытие представительства</i><br/>
Телефон +7 (983) 132 44 96 (Новосибирск)<br/>

	</div>
     </div>
   </div>
   </div>
