
<% if current_user && current_user.is_admin %>
<% @team= Team.where(:token => params[:token]).last %>
 
    <div class="container">
      <div >
     
<h2>Ответы команды <%= @team.team %></h2>
  <% @answers = Answer.where(:token => params[:token], :turnir_id => params[:turnir]) %>
  <% @tit = Answer.where(:turnir_id => params[:turnir]).collect(&:number).max.to_i %>
    <div class="row">
    <div class="span4">
Состав команды:<br>
 <% Member.where(:token => @team.token).each do |member| %>
   <%= member.family + ' ' + member.name_fst + ' (' + member.membership + ')' %><br>
 <% end %>
  </div><br>
  <div class="span6">
    <% (1..@tit).each do |i| %>
<%= i %>. <%= @answers.where(:number => i).first.answer if !@answers.where(:number => i).empty?%><br>
    <% end %>  
  </div>
<a href="/deletetoken/<%=params[:token] %>" class="btn btn-mini btn-danger">БЕЗВОЗВРАТНО УДАЛИТЬ РЕЗУЛЬТАТЫ </a> &nbsp;
</div></div></div>

<% end %>
