
<h3>Синхронный турнир творческого конкурса «Лучший трудовой коллектив 2015 года в игре «Что? Где? Когда?»</h3>
<h4> Запросить пароль</h4>
<br/><br/>
<div class="row">

  <div class="span6 offset3">
<div class="f"> <%= @m%></div>
    <form action="/forgot" class="new_forgot" id="new_forgot" method="get">
  <div class="control-group">
      <label for="forgot_Фамилия">Фамилия</label>
    <div class="controls">
      <input id="forgot_surname" name="surname" type="text" />
  </div></div>
  <div class="control-group">
      <label for="user_Актуальный E-mail">Актуальный e-mail</label>
    <div class="controls">
      <input id="forgot_mail" name="mail" type="text" />
  </div>  </div>
  <div class="control-group">
    <div class="error"></div>
      <input class="btn btn-large btn-primary" name="commit" type="submit" value="Запросить пароль" />
  </div>
</form>
  </div>
</div>

