<div id="wrapper">
  <div class="container">
    <div>
      <div class="row">
        <div class="col-lg-12">
          <div class="">
            <legend>Добро пожаловать!</legend>
          <div>
          <p>Нас зовут Вячеслав Гаранович и Максим Тепленёв и мы основали проект Mind Power – проект «три в одном»: мы создаём новые форматы интеллектуальных игр (и, соответственно, проводим турниры в этих форматах), разрабатываем удобное программное обеспечение для организации игр и открываем клубы интеллектуальных игр.</p>
          <p>Самых заметных результатов на данный момент мы добились в разработке программного обеспечения: на базе нашего программного комплекса Mind Power был проведён отборочный турнир для телекомпании «Игра-ТВ» (выпускающей телевизионную интеллектуальную игру «Что? Где? Когда?»), по ссылке можно найти <a href="https://mindpowergame.com/turnirs/18">результаты турнира</a>.</p>
          <p>Мы также создаём клубы интеллектуальных игр «Сила мысли», в которых за столом собирается команда из 6 знатоков, которые отвечают на вопросы ведущего. В отличие от одной телевизионной передачи, у нас другие правила игры: команды соревнуются не с телезрителями, а друг с другом, и количество вопросов в одной игре доходит до 36.</p>
          <p>А для тех, кто не имеет возможности играть очно в своём городе или ищет дополнительный способ потренироваться мы проводим <a href="https://mindpowergame.com/results/">онлайн-турниры</a> (в которых за одним компьютером может находиться только одна команда и/или человек) и запустили проект «Вопрос дня», где каждый день публикуется новый бесплатный вопрос (интеллектуальная разминка на каждый день).</p>
          <p>Коротко о нас:</p>
          <p>Вячеслав Гаранович - организатор интеллектуальных игр, онлайн-турнира "Гамбургский счёт", организатор двух Чемпионатов России по "Что? Где? Когда?", более 30 крупных синхронных турниров по спортивному ЧГК, более 10 крупных (более 30 команд) фестивалей интеллектуальных игр в России.</p>
          <p>Максим Тепленёв - соорганизатор/инициатор создания клубов интеллектуальных игр в Брянске, Оренбурге и Махачкале, администратор самого крупного <a href="http://vk.com/tv_chgk">сообщества «Что? Где? Когда?»</a>, в прошлом тренер команд по "Что? Где? Когда?".</p>
      </div>
    </div>


              </div>
  </div>
</div>
</div>
