  <div id="wrapper">
  <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="">
            <legend>Приглашение в клуб «Сила мысли»</legend>
          <div>

          <p>Нас зовут Вячеслав Гаранович и Максим Тепленёв и мы основали проект Mind Power – проект «три в одном»: мы создаём новые форматы интеллектуальных игр (и, соответственно, проводим турниры в этих форматах), разрабатываем удобное программное обеспечение для организации игр и открываем клубы интеллектуальных игр.</p>
          <p>Самых заметных результатов на данный момент мы добились в разработке программного обеспечения: на базе нашего программного комплекса Mind Power был проведён отборочный турнир для телекомпании «Игра-ТВ» (выпускающей телевизионную интеллектуальную игру «Что? Где? Когда?»), по ссылке можно найти <a href="https://mindpowergame.com/turnirs/18">результаты турнира</a>.</p>
<p>Cейчас мы занимаемся организацией интеллектуальных игр в странах дальнего зарубежья. Общаясь со знакомыми игроками, уехавшими в дальнее зарубежье, мы стали понимать, что наше умение создавать клубы с нуля и находить игроков удаленно  востребовано в первую очередь за пределами России - в силу специфики информационных потоков в этих регионах. Чем больше мы общались с игроками и просто теми, кому интересны интеллектуальные игры - тем больше мы "зажигались" идеей создать международную сеть небольших клубов (в среднем от 1 до 10 команд, за исключением действительно крупных городов вроде Нью-Йорка) для русскоязычных выходцев. Сейчас мы работаем с жителями США, Канады, Австралии, Японии, Китая, стран Европейского союза и некоторыми другими. В каждой развитой стране мы имеем выход на некоторое количество интересующихся интеллектуальными играми – в среднем на 50-100 человек в каждой стране.</p>
<p>Если вам интересно узнать более подробную информацию об открывающихся клубах, условиях участия и другую информацию – оставьте, пожалуйста, ваши данные в форме ниже</p>
         <div class="">
            <legend>О нас</legend>
          <div>
          <p><a href="https://vk.com/id1363791" target="_blank">Вячеслав Гаранович</a> - организатор интеллектуальных игр, онлайн-турнира "Гамбургский счёт", организатор двух Чемпионатов России по "Что? Где? Когда?", более 30 крупных синхронных турниров по спортивному ЧГК, более 10 крупных (более 30 команд) фестивалей интеллектуальных игр в России.</p>
          <p><a href="https://vk.com/teplenev" target="_blank">Максим Тепленёв</a> - соорганизатор/инициатор создания клубов интеллектуальных игр в Брянске, Оренбурге и Махачкале, администратор самого крупного <a href="http://vk.com/tv_chgk">сообщества «Что? Где? Когда?»</a>, в прошлом тренер команд по "Что? Где? Когда?".</p>

         <div class="">
            <legend>Форма регистрации</legend>
          <div>

<iframe src="https://docs.google.com/forms/d/168lEPOwwfoUYzLZNk2cv0zggvcgDF7yruy6bYN9tzBg/viewform?embedded=true" width="900" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>

</div>
</div>
</div>
</div>
