  <div id="wrapper">
  <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="">
            <legend>Условия использования интернет-сервиса MindPowerGame.com</legend>
          <div>

<p align="center">
    <strong>
        </strong>
</p>
<div>
<p>
        Версия 1.0 от 23 июня 2015 года
</p>
    <h4>
        Термины
    </h4>
</div>
<p>
    Продавец – Индивидуальный предприниматель Гаранович Вячеслав Игоревич.
</p>
<p>
    Клиент - дееспособное физическое лицо, размещающее Заявку на скачивание Игровых заданий на сайте <a href="https://mindpowergame.com/">mindpowergame.com</a>
    .
</p>
<p>
Сайт - Интернет-сайт, принадлежащий Продавцу, расположенный на сервере в г. Санкт-Петербург и имеющий адрес в сети Интернет    <a href="https://mindpowergame.com/">mindpowergame.com</a>. На нем представлены товары и услуги, предлагаемые Продавцом своим Клиентам для оформления
    Заказов.
</p>
<p>
    Игровое задание – текстовая, графическая, аудио и видеоинформация, составленная определенным Продавцом образом, предназначенная для организации и
    проведения неазартных интеллектуальных игр.
</p>
<p>
    Приложение – программа для ЭВМ, предоставляемая Клиенту для получения оплаченных им Игровых заданий с целью их последующего публичного воспроизведения в
    личных целях, содержащее внутренний каталог, состоящий из оплаченных и доступных для скачивания Игровых заданий.
</p>
<p>
    Код активации - уникальный буквенно-цифровой код, генерируемый программным обеспечением Сайта, который сообщается Приложению в автоматическом режиме, без
    непосредственного получения данного кода Клиентом. Служит для получения подтверждения прав на воспроизведение оплаченного Игрового задания в Приложении.
</p>
<p>
    Заявка на скачивание - должным образом оформленный запрос Клиента на скачивание Игровых заданий, выбранных на Сайте, права на использование которых
    получены Клиентом.
</p>
<div>
    <h4>
        1. Общие положения
    </h4>
</div>
<p>
    1.1. Сайт принадлежит и администрируется Индивидуальным предпринимателем Гаранович Вячеслав Игоревич.
</p>
<p>
    1.2. Оформляя Заявки на скачивание Игровых заданий, Клиент соглашается с условиями скачивания Игровых заданий (далее - Условия), изложенными ниже.
</p>
<p>
    1.3. Настоящие Условия, также информация об Игровых заданиях, представленная на Сайте, являются публичной офертой в соответствии со ст.435 и ч.2 ст.437 ГК
    РФ по предоставлению прав на использование Игровых заданий. Совершение Клиентом действий, направленных на выполнение положений настоящих Условий, в том
    числе оформление Заявки на скачивание и/или осуществление оплаты Игровых заданий, а так же совершение действий по принятию условий лицензионного соглашения
    с конечным пользователем, признаются безоговорочным акцептом настоящих Условий.
</p>
<p>
    1.4. В соответствии с настоящими Условиями Продавец предоставляет Клиенту за плату право использования Игровых заданий в объеме согласованном с
    правообладателем, а также право на воспроизведение Игровых заданий только для использования в личных целях.
</p>
<p>
    1.5. Продавец оставляет за собой право вносить изменения в настоящие Условия, в связи с чем, Клиент обязуется регулярно отслеживать изменения в Условиях,
    размещенных в разделе "Публичная оферта".
</p>
<p>
    1.6. Вся текстовая информация и графические изображения, находящиеся на Сайте и относящиеся к Игровым заданиям (включая описания, примеры Игровых заданий и
    другая подобная информация) являются собственностью Продавца и/или его контрагентов и не могут быть использованы Клиентом без получения письменного
    согласия Продавца и/или его контрагентов. Исключением является только та информация и графические изображения, которые могут быть распространены в сети
    Интернет с помощью кнопок распространения страниц сайта в социальных сетях (для страниц, на которых такие кнопки располагаются).
</p>
<p>
    1.7. Права, указанные в п.1.4 настоящих Условий передаются Клиенту на срок действия права если иное не указано в информационном блоке Игрового задания на
    Сайте.
</p>
<div>
    <h4>
        2. Приложение и Игровые задания
    </h4>
</div>
<p>
    2.1. Все представленные на Сайте Игровые задания охраняются в соответствии с законодательством РФ о правах на результаты интеллектуальной деятельности.
</p>
<p>
    2.2. Права на Игровые задания принадлежат Продавцу на условиях лицензии и/или договора с правообладателем Игрового задания.
</p>
<div>
    <h4>
        3. Ограничения по использованию Игровых заданий
    </h4>
</div>
<p>
    3.1. Игровые задания могут быть использованы клиентом исключительно в личных целях путем копирования (воспроизведения) Игровых заданий на оборудование
    Клиента (записи в память оборудования).Копирование Игровых заданий на оборудование Клиента может осуществляться только через официальное Приложение,
    которое доступно Клиенту на Сайте Продавца. Использование Приложений третьих лиц (напрямую не указанных в качестве официальных приложений на Сайте)
    запрещается.
</p>
<p>
    3.2. Клиент не вправе использовать Игровые задания с целью извлечения прибыли, в том числе перерабатывать, распространять, публично показывать,
    импортировать, сдавать в прокат, публично исполнять, сообщать в эфир или по кабелю, доводить до всеобщего сведения.
</p>
<p>
    3.3. Клиент не вправе размещать ссылки на Игровые задания, доступные для использования Клиентом, на каких-либо ресурсах таким образом, чтобы третье лицо
    имело доступ к данным Игровым заданиям. В том числе Клиенту запрещается сообщать третьим лицам сведения, необходимые для получения доступа на персональные
    страницы Сайта, требующие авторизации Клиента.
</p>
<p>
    3.4. Использование Приложения Клиентом регламентируется с помощью Лицензионного соглашения между Продавцом и конечным пользователем (Клиентом), которое
    является неотъемлемой частью настоящих условий с момента установки Приложения на оборудование Клиента и акцепта Лицензионного соглашения.
</p>
<div>
    <h4>
        4. Оформление Заявки на скачивание Игровых заданий
    </h4>
</div>
<p>
    4.1. Чтобы оформить Заявку, Клиенту необходимо зарегистрироваться на Сайте.
</p>
<p>
    4.1.1. Продавец не несет ответственности за точность и правильность информации, предоставляемой Клиентом при регистрации.
</p>
<p>
    4.1.2. Клиент обязуется не сообщать третьим лицам логин и пароль, указанные при регистрации. В случае возникновения у Клиента подозрений относительно
    безопасности его логина и пароля или возможности их несанкционированного использования третьими лицами, Клиент обязуется незамедлительно уведомить об этом
    Продавца, направив электронное письмо в Службу по работе с клиентами. Клиент обязуется не пытаться получить самостоятельно, в обход официального Приложения
    Код активации, а также не передавать и не сообщать третьим лицам Код активации и (или) файлы, которые содержат Код активации. Продавец не несет
    ответственности в случае, если Клиент не может использовать скачаное Игровое задание в результате разглашения или передачи кода активации третьим лицам.
</p>
<p>
    4.2. Процедура оформления Заявки на скачивание и сроки ее выполнения.
</p>
<p>
    4.2.1. После осуществления выбора Игрового Задания Клиент нажимает на кнопку "Оплатить".
</p>
<p>
    4.2.2. Клиент выбирает один из способов оплаты лицензионного вознаграждения, а затем нажимает на кнопку подтверждения Заявки на скачивание.
</p>
<p>
    4.2.3. Клиент производит предоплату указанным в Заявке на скачивание способом.
</p>
<p>
    4.2.4. Продавец вправе запросить дополнительную информацию от Клиента о составленной Клиентом Заявке на скачивание.
</p>
<p>
    4.3. Аннулирование Заявки на скачивание.
</p>
<p>
    4.3.1. Клиент и продавец вправе аннулировать Заявку на скачивание до момента осуществления оплаты лицензионного вознаграждения. После осуществления оплаты
    лицензионного вознаграждения, возврат и обмен Игровых заданий не осуществляется за исключением случаев предоставления Продавцом Игровых заданий
    ненадлежащего качества.
</p>
<p>
    4.4. Особенности оплаты лицензионного вознаграждения с помощью банковских карт
</p>
<p>
    4.4.1. В соответствии с положением ЦБ РФ "Об эмиссии банковских карт и об операциях, совершаемых с использованием платежных карт" от 24.12.2004 №266-П
    операции по банковским картам совершаются держателем карты либо уполномоченным им лицом.
</p>
<p>
    4.4.2. Авторизация операций по банковским картам осуществляется банком. Если у банка есть основания полагать, что операция носит мошеннический характер, то
    банк вправе отказать в осуществлении данной операции. Мошеннические операции с банковскими картами попадают под действие статьи 159 УК РФ.
</p>
<p>
    4.4.3. При возникновении у Продавца обоснованных подозрений в мошенническом характере операции Продавец оставляет за собой право аннулировать Заявку на
    скачивание, при этом денежные средства Клиенту не возмещаются.
</p>
<div>
    <h4>
        5. Порядок копирования Игровых заданий
    </h4>
</div>
<p>
    5.1. В течение одного часа с момента получения Продавцом оплаты лицензионного вознаграждения Продавец направляет Клиенту в Приложение ссылку для получения
    доступа к заказанному Клиентом Игровому заданию и код активации. В случае невозможности доступа к Игровому заданию посредством предоставленной ссылки и
    кода в связи с его (их) повреждением, Клиент вправе в течение 30 (Тридцать) календарных дней обратиться к Продавцу с просьбой о предоставлении нового кода.
    Продавец в течение 3 (Три) календарных дней осуществляет проверку ранее предоставленного кода и при подтверждении необходимости его замены, направляет в
    Приложение Клиента новый код.
</p>
<p>
    5.2. Для получения доступа к Игровому заданию, в том числе для копирования в память пользовательского оборудования Клиента, Клиенту необходимо пройти по
    ссылке «Скачать» для соответствующего оплаченного и полученного Приложением Игрового задания. Ссылка «Скачать» полностью идентична ссылке, направленной
    Продавцом в соответствии с п.5.1. Условий.
</p>
<p>
    5.3. Клиент вправе воспользоваться ссылкой и получить доступ к Игровому заданию в целях скачивания в течение 90 календарных дней с момента направления
    Продавцом ссылки Клиенту в соответствии с п.5.1. Условий. По истечении указанного срока Клиент не сможет воспользоваться ссылкой и скачать Игровое задание.
    При этом денежные средства, перечисленные Клиентом в счет оплаты лицензионного вознаграждения, возврату не подлежат.
</p>
<p>
    5.4. Игровое задание, должным образом оформленное Заявкой на скачивание (п. 4.2), лицензионное вознаграждение за получение прав на который оплачено
    Клиентом, доступно для скачивания в Приложении после ввода логина и пароля Клиента.
</p>
<div>
    <h4>
        6. Ответственность
    </h4>
</div>
<p>
    6.1. Продавец не несет ответственности за использование Игровых заданий Клиентом, всю ответственность в случае нарушения законодательства или прав третьих
    лиц в связи с использованием Игровых заданий Клиент принимает на себя.
</p>
<p>
    6.2. Продавец не несет ответственности в случае несовместимости Приложения и/или Игровых заданий с пользовательским оборудованием Клиента.
</p>
<p>
    6.3. Продавец не несет ответственности за содержание, достоверность, практическую применимость Игровых заданий, все Игровые задания предоставляются в
    состоянии "как есть".
</p>
<p>
    6.4. Продавец не несет ответственности за ущерб, нанесенный Клиенту либо третьим лицам вследствие несоблюдения Клиентом настоящих Условий, использования
    Игровых заданий не по назначению либо вследствие неознакомления Клиента с информацией об Игровых заданиях, их характеристиках и порядке их использования.
</p>
<p>
    6.5. Ни при каких условиях Продавец не возмещает Клиенту либо третьим лицам упущенную выгоду.
</p>
<p>
    6.6. Продавец не несет ответственности за убытки, которые Клиент может понести в результате того, что его логин и пароль стали известны третьему лицу.
</p>
<div>
    <h4>
        7. Конфиденциальность и защита персональной информации
    </h4>
</div>
<p>
    7.1. Предоставление информации Клиентом:
</p>
<p>
    7.1.1. При регистрации на Сайте Клиент предоставляет следующую информацию: Фамилия, Имя, адрес электронной почты, город, пароль для доступа к Сайту.
    Регистрируясь на сайте, Клиент дает согласие на обработку своих данных, включая персональные, в том числе в целях продвижения товаров, работ, услуг на
    рынке.
</p>
<p>
    7.1.2. При регистрации и (или) авторизации Клиентом на сайте посредством социальных сетей (таких как «ВКонтакте», «Фейсбук», «Гугл Плюс», «Твиттер» и
    другие) Сайтом запрашиваются определенные права на доступ к персональной информации пользователя, указанной в соответствующей социальной сети. Разрешение
    на доступ к соответствующим полям персональных данных рассматривается как согласие на их получение, обработку, хранение, использование и другие действия.
</p>
<p>
    7.1.2. Если Клиент не желает, чтобы его персональные данные обрабатывались, то он должен обратиться в Службу по работе с клиентами Продавца через форму
    Обратной связи на Сайте. В таком случае вся полученная от Клиента информация (в тот числе логин и пароль) удаляется из клиентской базы Продавца и Клиент не
    сможет размещать Заявки на скачивания на Сайте.
</p>
<p>
    7.2. Использование информации предоставленной Клиентом и получаемой Продавцом.
</p>
<p>
    7.2.1 Продавец использует информацию:
</p>
<ul>
    <li>
        Для регистрации Клиента на Сайте;
    </li>
    <li>
        Для выполнения своих обязательств перед Клиентом;
    </li>
    <li>
        Для оценки и анализа работы Сайта;
    </li>
</ul>
<p>
    7.2.2. Продавец вправе направлять Клиенту сообщения рекламно-информационного характера. Если Клиент не желает получать рассылки от Продавца, он должен
    изменить соответствующие настройки подписки. Для входа необходимо ввести логин и пароль.
</p>
<p>
    7.3. Разглашение информации, полученной Продавцом:
</p>
<p>
    7.3.1. Не считается нарушением предоставление Продавцом информации агентам и третьим лицам, действующим на основании договора с Продавцом, для исполнения
    обязательств перед Клиентом.
</p>
<p>
    7.3.2. Не считается нарушением обязательств разглашение информации в соответствии с обоснованными и применимыми требованиями закона.
</p>
<p>
    7.4. Продавец вправе использовать технологию "cookies". "Cookies" не содержат конфиденциальную информацию и не передаются третьим лицам.
</p>
<p>
    7.5. Продавец получает информацию об ip-адресе посетителя Сайта mindpowergame.com и может использовать эту информацию для идентификации клиента.
</p>
<p>
    7.6. Продавец не несет ответственности за сведения, предоставленные Клиентом на Сайте в общедоступной форме.
</p>
<p>
    7.7. В случае возникновения у Продавца подозрений относительно использования учетной записи Клиента третьим лицом или вредоносным программным обеспечением
    Продавец вправе в одностороннем порядке изменить пароль Клиента, уведомив его об этом с помощью сообщения на адрес электронной почты, указанный Клиентом.
</p>
<div>
    <h4>
        8. Прочие условия
    </h4>
</div>
<p>
    8.1. К отношениям между Клиентом и Продавцом применяется право Российской Федерации.
</p>
<p>
    8.2. В случае возникновения вопросов и претензий со стороны Клиента он должен обратиться в Службу по работе с клиентами Продавца по телефону или через
    форму Обратной связи на Сайте. Все возникающее споры стороны будут стараться решить путем переговоров, при недостижении соглашения спор будет передан на
    рассмотрение в судебный орган в соответствии с действующим законодательством РФ.
</p>
<p>
    8.3. Признание судом недействительности какого-либо положения настоящих Условий и правил не влечет за собой недействительность остальных положений.
</p>
<br/><br/>
<div>
            <legend>Лицензионное соглашение на использование программы "Mind Power для Windows"</legend>
</div>
<p>
    Перед использованием программы "Mind Power для Windows" (далее по тексту - "Программа"), пожалуйста, ознакомьтесь с условиями настоящего лицензионного
    соглашения (далее по тексту - "Лицензия", "Лицензионное соглашение"). Любое использование Вами Программы означает полное и безоговорочное принятие Вами
    условий настоящего Лицензионного соглашения. Если Вы не принимаете условия Лицензионного соглашения в полном объеме, Вы не имеете права использовать
    программу в каких-либо целях.
</p>
<div>
    <h4>
        1. Предмет соглашения
    </h4>
</div>
<p>
    1.1. Настоящее Лицензионное соглашение заключено между пользователем («Пользователь»), и Индивидуальным предпринимателем Гарановичем Вячеславом Игоревичем,
    (АДРЕС), являющимся правообладателем исключительных прав на Программу («Правообладатель»). Лицензия устанавливает условия использования Пользователем
    Программы.
</p>
<p>
    1.2. Копируя Программу и устанавливая ее на свое устройство, Пользователь выражает свое полное и безоговорочное согласие со всеми условиями Лицензии.
</p>
<p>
    1.3. Использование Программы разрешается только на условиях Лицензии. Если Пользователь не принимает условия Лицензии в полном объеме, Пользователь не
    имеет права использовать Программу в каких-либо целях. Использование Программы с нарушением (невыполнением) какого-либо из условий Лицензии запрещено.
</p>
<p>
    1.4. Использование Программы на условиях Лицензии в личных некоммерческих целях осуществляется безвозмездно. Использование Программы на условиях и
    способами, не предусмотренными настоящей Лицензией, возможно только на основании отдельного соглашения с Правообладателем по цене, устанавливаемой
    Правообладателем.
</p>
<p>
    1.5 Использование Программы Пользователем предполагает его согласие с тем, что неотъемлемой частью Лицензии являются Условия использования интернет-сервиса
    MindPowerGame.com. Лицензия и Условия использования интернет-сервиса (в том числе любые из их частей) могут быть изменены ИП Гаранович В.И. без какого-либо
    специального уведомления, новая редакция вступает в силу с момента их опубликования, если иное не предусмотрено указанными соглашениями.
</p>
<p>
    1.6. Использование программы Пользователем предполагает его согласие на использование технической информации об устройстве, системе и прикладном
    программном обеспечении и периферийных устройствах Пользователя. Правообладатель вправе собирать и использовать технические данные и связанную информацию
    для улучшения Программы или для предоставления услуг или технологий Пользователю. Правообладатель вправе использовать информацию до тех пор, пока такая
    информация находится в форме, не позволяющей идентифицировать Пользователя персонально.
</p>
<p>
    1.7. Пользователь использует Программу в рамках настоящей Лицензии на безвозмездной основе.
</p>
<div>
    <h4>
        2. Исключительное право на Программу
    </h4>
</div>
<p>
    2.1. Исключительное право на Программу принадлежит Правообладателю.
</p>
<div>
    <h4>
        3. Способы использования Программы
    </h4>
</div>
<p>
    3.1. Правообладатель предоставляет Пользователю неисключительное право (простая (неисключительная) лицензия) использовать Программу следующими способами:
</p>
<p>
    3.1.1. Применять Программу по прямому функциональному назначению, в целях чего произвести ее копирование и установку на устройство (ва) Пользователя.
    Пользователь вправе произвести установку Программы на неограниченное число мобильных устройств.
</p>
<p>
    3.1.2. Воспроизводить и распространять Программу в некоммерческих целях (безвозмездно).
</p>
<p>
    3.2. Программа должна использоваться под наименованием: "Mind Power". Пользователь не вправе изменять и/или удалять наименование Программы, знак охраны
    авторского права или иные указания на Правообладателя.
</p>
<div>
    <h4>
        4. Ограничения
    </h4>
</div>
<p>
    4.1. За исключением использования в объемах и способами, прямо предусмотренными настоящей Лицензией или законодательством РФ, Пользователь не имеет права
    изменять, декомпилировать, дизассемблировать, дешифровать и производить иные действия с объектным кодом Программы, имеющие целью получение информации о
    реализации алгоритмов, используемых в Программе, создавать производные произведения с использованием Программы, а также осуществлять (разрешать
    осуществлять) иное использование Программы, без письменного согласия Правообладателя.
</p>
<p>
    4.2. Пользователь не имеет право воспроизводить и распространять Программу в коммерческих целях (за плату), в том числе в составе сборников программных
    продуктов, без письменного согласия Правообладателя.
</p>
<p>
    4.3 Пользователь не имеет права распространять Программу в виде, отличном от того, в котором он ее получил, без письменного согласия Правообладателя.
</p>
<div>
    <h4>
        5. Ответственность
    </h4>
</div>
<p>
    5.1. Программа предоставляется на условиях "как есть" (as is). Правообладатель не предоставляет никаких гарантий в отношении безошибочной и бесперебойной
    работы Программы или отдельных ее компонентов, соответствия Программы конкретным целям Пользователя , а также не предоставляет никаких иных гарантий, прямо
    не указанных в настоящей Лицензии.
</p>
<p>
    5.2. В максимальной степени, допустимой действующим законодательством, Правообладатель, равно как и его партнеры, не несет никакой ответственности за
    какие-либо прямые или косвенные последствия какого-либо использования или невозможности использования Программы и/или ущерб, причиненный Пользователю и/или
    третьим лицам в результате какого-либо использования или неиспользования Программы или отдельных ее компонентов, в том числе из-за возможных ошибок или
    сбоев в их работе.
</p>
<p>
    5.3. Все претензии, связанные с использованием/невозможностью использования Программы, а также возможными фактами нарушения в результате использования
    Программы законодательства и/или прав третьих лиц, должны направляться через форму Обратной связи.
</p>
<p>
    5.4. Настоящая Лицензия и все отношения, связанные с использованием Программы, регулируются действующим законодательством РФ.
</p>
<div>
    <h4>
        6. Особые условия
    </h4>
</div>
<p>
    6.1. Выполнение функций Программы возможно только при наличии доступа к сети Интернет. Пользователь самостоятельно получает и оплачивает такой доступ на
    условиях и по тарифам своего оператора связи или провайдера.
</p>

<div>
            <legend>Информация о способах оплаты</legend>
</div>

<p><strong>Банковские карты</strong></p>
<p>Сервис приёма оплаты предоставлен <a href="http://payanyway.ru/">PayAnyWay</a>.</p>
<table border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td width="100" valign="top">
<p><img src="https://www.moneta.ru/info/public/requirements/visa.png"></p>
<p><img src="https://www.moneta.ru/info/public/requirements/mastercard.png"></p>

</td>
<td valign="top">
<p>PayAnyWay не передает данные Вашей карты магазину и иным третьим лицам. Безопасность платежей с помощью банковских карт обеспечивается технологиями защищенного соединения HTTPS и двухфакторной аутентификации пользователя 3D Secure.</p>
<p>В соответствии с ФЗ «О защите прав потребителей» в случае, если Вам оказана услуга или реализован товар ненадлежащего качества, платеж может быть возвращен на банковскую карту, с которой производилась оплата. Порядок возврата средств уточняйте у администрации интернет-магазина.</p>
</td>
</tr>
</tbody>
</table>

<p><strong>Электронные деньги</strong></p>
<table border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td width="100" valign="top">
<p><a href="http://www.moneta.ru/" target="_blank"><img src="https://www.moneta.ru/info/public/requirements/moneta.png"></a></p>
</td>
<td valign="top">
<p><strong>Монета.Ру</strong>
<br>Для осуществления оплаты с помощью платежной системы Монета.Ру вам необходимо иметь кошелек, зарегистрировать который можно на сайте системы.
<br>Способы пополнения кошелька можно найти на сайте Монета.Ру в разделе «Как пополнить». Зачисление платежей через Монета.Ру происходит мгновенно.</p>
</td>
</tr>

<tr>
<td width="100" valign="top">
<p><a href="http://www.megastock.ru/" target="_blank"><img src="https://www.moneta.ru/info/public/requirements/wm_transparent.png"></a></p>

</td>
<td valign="top">
<p><strong>WebMoney</strong>
<br>Для совершения оплаты вы должны быть зарегистрированы в системе WebMoney Transfer. К оплате принимаются титульные знаки WMR, зачисление денег происходит мгновенно.</p>
</td>
</tr>

<tr>
<td width="100" valign="top">
<p><a href="https://money.yandex.ru/" target="_blank"><img src="https://www.moneta.ru/info/public/requirements/yandexmoney.png"></a></p>
</td>
<td valign="top">
<p><strong>Яндекс.Деньги</strong>
<br>Для осуществления оплаты с помощью сервиса Яндекс.Деньги вам необходимо иметь кошелек, зарегистрированный на сайте платежной системы.
<br>Зачисление платежей через платежную систему Яндекс.Деньги происходит мгновенно.</p>
</td>
</tr>
<tr>
<td width="100" valign="top">
<p><a href="https://www.qiwi.ru/" target="_blank"><img src="https://www.moneta.ru/info/public/requirements/qiwi.png"></a></p>
</td>
<td valign="top">
<p><strong>QIWI Кошелек</strong>
<br>Выберите в качестве оплаты QIWI Кошелёк и введите номер своего сотового телефона. Оплатите созданный автоматически счёт на сайте платежной системы.
<br>Если у вас нет QIWI Кошелька, вам необходимо зарегистрировать его на сайте сервиса или в любом из приложений QIWI Кошелька.</p>
</td>
</tr>
</tbody>
</table>

<p><strong>Банковские сервисы</strong></p>
<p>Системы онлайн-банкинга «Сбербанк ОнЛ@йн», «Альфа-Клик», «Qbank Связной банк», «Промсвязьбанк», «Русский Стандарт», «Faktura.ru».
<br>Банковским или почтовым переводом, а также через систему денежных переводов «CONTACT».</p>
<p><img src="https://www.moneta.ru/info/public/requirements/bank.png"></p>

<p><strong>Платёжные терминалы</strong></p>
<p>Элекснет, ОПЛАТА.РУ, Федеральная система Город, Московский кредитный банк, Форвард Мобайл, CiberPay, Platika, НКО «ЛИДЕР», ComePay.</p>
<p><img src="https://www.moneta.ru/info/public/requirements/terminal.png"></p>

<p><strong>SMS сервисы</strong></p>
<p>Сотовые операторы Мегафон и МТС</p>
<p><img src="https://www.moneta.ru/info/public/requirements/megafon.png">&nbsp;<img src="https://www.moneta.ru/info/public/requirements/mts.png"></p>

</br>
<p><strong>Возникли вопросы по оплате?</strong><br/>
Воспользуйтесь <a href="http://payanyway.ru/info/w/ru/public/w/payment-methods/index.html" target="_blank">подробными инструкциями</a> по каждому из способов оплаты или свяжитесь с нами.</p>

<p><strong>Служба поддержки покупателей PayAnyWay</strong></p>
<p><a href="http://payanyway.ru/" target="_blank"><img src="https://www.moneta.ru/info/public/requirements/payanyway.gif"></a></p>
<p>Телефон: +7 (495) 743-49-85
<br>E-mail: <a href="mailto:helpdesk.support@payanyway.ru">helpdesk.support@payanyway.ru</a></p>

          <div class="">
            <legend>Реквизиты</legend>
          </div>

Индивидуальный предприниматель <br/>

Гаранович Вячеслав Игоревич <br/> <br/>

603050, г. Нижний Новгород, ул. Иванова, д 14/6 кв. 94 <br/>

ОГРНИП 311526332700019 <br/>

ИНН 526310324806 <br/>

р/с 40802810102830000332 в ОАО Альфа-Банк  <br/>

к/с 30101810200000000593 <br/>

БИК 044525593 <br/> <br/>



	</div>
     </div>
   </div>
   </div>
 </div>
 </div>
