  <div id="wrapper">
  <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="">
            <legend>Политика конфиденциальности</legend>
          <div>

<p>
    <a name="1._Общие_положения"></a>
</p>
<p>
    1. Общие положения
</p>
<p>
1.1. Настоящие Правила определяют порядок обработки и защиты информации о физических лицах, пользующихся услугами интернет-сайта    <a href="https://mindpowergame.com/">https://mindpowergame.com/</a> (далее – Сайт) и его сервисов (далее – Пользователи).
</p>
<p>
    1.2. Целью настоящих Правил является обеспечение надлежащей защиты информации о пользователях, в том числе их персональных данных, от несанкционированного
    доступа и разглашения.
</p>
<p>
    1.3. Отношения, связанные со сбором, хранением, распространением и защитой информации о пользователях Сайта, регулируются настоящими Правилами, иными
    официальными документами Администрации Сайта и действующим законодательством Российской Федерации.
</p>
<p>
1.4. Действующая редакция Правил, являющихся публичным документом, доступна любому пользователю сети Интернет при переходе по ссылке    <a href="https://mindpowergame.com/privacy">https://mindpowergame.com/privacy</a>. Администрация Сайта вправе вносить изменения в настоящие Правила. При
внесении изменений в Правила Администрация Сайта уведомляет об этом пользователей путем размещения новой редакции Правил на Сайте по постоянному адресу    <a href="https://mindpowergame.com/privacy">https://mindpowergame.com/privacy</a> не позднее, чем за 3 дня до вступления в силу соответствующих изменений.
    Предыдущие редакции Правил хранятся в архиве документации Администрации Сайта.
</p>
<p>
    1.5. Регистрируясь и используя Сайт, Пользователь выражает свое согласие с условиями настоящих Правил.
</p>
<p>
    1.6. В случае несогласия Пользователя с условиями настоящих Правил использование Сайта и его сервисов должно быть немедленно прекращено.
</p>
<p>
    <a name="2._Условия_пользования_Сайтом"></a>
    2. Условия пользования Сайтом
</p>
<p>
    2.1. Оказывая услуги по использованию Сайта и его сервисов (далее – Услуги Сайта), Администрация Сайта, действуя разумно и добросовестно, считает, что
    Пользователь:
</p>
<p>
    · обладает всеми необходимыми правами, позволяющими ему осуществлять регистрацию и использовать настоящий Сайт;
</p>
<p>
    · указывает достоверную информацию о себе в объемах, необходимых для пользования Услугами Сайта;
</p>
<p>
    · осознает, что информация на Сайте, размещаемая Пользователем о себе, может становиться доступной для других Пользователей Сайта и пользователей
    Интернета, может быть скопирована и распространена такими пользователями;
</p>
<p>
    · осознает, что некоторые виды информации, переданные им другим Пользователям, не могут быть удалены самим Пользователем;
</p>
<p>
    · ознакомлен с настоящими Правилами, выражает свое согласие с ними и принимает на себя указанные в них права и обязанности.
</p>
<p>
    2.2. Администрация Сайта не проверяет достоверность получаемой (собираемой) информации о пользователях, за исключением случаев, когда такая проверка
    необходима в целях исполнения Администрацией Сайта обязательств перед пользователем.
</p>
<p>
    <br/>
    <br/>
    <br/>
    <a name="3._Цели_обработки_информации"></a>
</p>
<p>
    3. Цели обработки информации
</p>
<p>
    Администрация Сайта осуществляет обработку информации о Пользователях, в том числе их персональных данных, в целях выполнения обязательств Администрации
    Сайта перед Пользователями в отношении использования Сайта и его сервисов.
    <br/>
    <br/>
    <a name="4._Состав_информации_о_пользователях"></a>
</p>
<p>
    4. Состав информации о пользователях
</p>
<p>
    4.1. Персональные данные Пользователей
    <br/>
    Персональные данные Пользователей включают в себя:
</p>
<p>
    4.1.1. предоставляемые Пользователями и минимально необходимые для регистрации на Сайте: имя, фамилия, номер мобильного телефона и/или адрес электронной
    почты;
</p>
<p>
    4.1.2. дополнительно предоставляемые Пользователями по запросу Администрации Сайта в целях исполнения Администрацией Сайта обязательств перед
    Пользователями, вытекающих из договора на оказание Услуг Сайта. Администрация Сайта вправе, в частности, запросить у Пользователя копию документа,
    удостоверяющего личность, либо иного документа, содержащего имя, фамилию, фотографию Пользователя, а также иную дополнительную информацию, которая, по
    усмотрению Администрации Сайта, будет являться необходимой и достаточной для идентификации такого Пользователя и позволит исключить злоупотребления и
    нарушения прав третьих лиц.
</p>
<p>
    4.2. Иная информация о Пользователях, обрабатываемая Администрацией Сайта
    <br/>
    Администрация Сайта обрабатывает также иную информацию о Пользователях, которая включает в себя:
</p>
<p>
    4.2.1. стандартные данные, автоматически получаемые http-сервером при доступе к Сайту и последующих действиях Пользователя (IP-адрес хоста, вид
    операционной системы пользователя, страницы Сайта, посещаемые пользователем);
</p>
<p>
    4.2.2. информация, автоматически получаемая при доступе к Сайту с использованием закладок (cookies);
</p>
<p>
    4.2.4. информация, полученная в результате действий Пользователя на Сайте;
</p>
<p>
    4.2.5. информация, полученная в результате действий других пользователей на Сайте по отношению к Пользователю.
</p>
<p>
    <a name="5._Обработка_информации_о_пользователях"></a>
</p>
<p>
    5. Обработка информации о пользователях
</p>
<p>
    5.1. Обработка персональных данных осуществляется на основе принципов:
    <br/>
    а) законности целей и способов обработки персональных данных;
    <br/>
    б) добросовестности;
    <br/>
    в) соответствия целей обработки персональных данных целям, заранее определенным и заявленным при сборе персональных данных, а также полномочиям
    Администрации Сайта;
    <br/>
    г) соответствия объема и характера обрабатываемых персональных данных, способов обработки персональных данных целям обработки персональных данных;
    <br/>
    д) недопустимости объединения созданных для несовместимых между собой целей баз данных, содержащих персональные данные.
</p>
<p>
    5.1.1. Условия и цели обработки персональных данных
    <br/>
    Администрация Сайта осуществляет обработку персональных данных пользователя в целях исполнения договора между Администрацией Сайта и Пользователем на
    оказание Услуг Сайта. В силу статьи 6 Федерального закона от 27.07.2006 № 152-ФЗ «О персональных данных» отдельное согласие пользователя на обработку его
    персональных данных не требуется. В силу п.п. 2 п. 2 статьи 22 указанного закона Администрация Сайта вправе осуществлять обработку персональных данных без
    уведомления уполномоченного органа по защите прав субъектов персональных данных.
</p>
<p>
    5.1.2. Сбор персональных данных'
    <br/>
    Сбор персональных данных Пользователя осуществляется на Сайте при регистрации, а также в дальнейшем при внесении пользователем по своей инициативе
    дополнительных сведений о себе с помощью инструментария Сайта.
    <br/>
    <br/>
</p>
<p>
    5.1.3. Хранение и использование персональных данных
    <br/>
    Персональные данные пользователей хранятся исключительно на электронных носителях и обрабатываются с использованием автоматизированных систем, за
    исключением случаев, когда неавтоматизированная обработка персональных данных необходима в связи с исполнением требований законодательства.
</p>
<p>
    5.1.4. Передача персональных данных
    <br/>
    Персональные данные Пользователей не передаются каким-либо третьим лицам, за исключением случаев, прямо предусмотренных настоящими Правилами.
    <br/>
    При указании пользователя или при наличии согласия пользователя возможна передача персональных данных пользователя третьим лицам-контрагентам Администрации
    Сайта с условием принятия такими контрагентами обязательств по обеспечению конфиденциальности полученной информации.
    <br/>
    Действия таких третьих лиц (контрагентов) регулируются официальным документом Администрации Сайта.
    <br/>
    Предоставление персональных данных Пользователей по запросу государственных органов (органов местного самоуправления) осуществляется в порядке,
    предусмотренном законодательством.
</p>
<p>
    5.1.5. Уничтожение персональных данных
    <br/>
    Персональные данные пользователя уничтожаются при:
    <br/>
    – самостоятельном удалении Пользователем данных со своей персональной страницы;
    <br/>
    – удалении Администрацией Сайта информации, размещаемой Пользователем, а также персональной страницы Пользователя в случаях;
</p>
<p>
    <a name="6._Права_и_обязанности_пользователей"></a>
    <a name="7._Меры_по_защите_информации_о_Пользоват"></a>
</p>
<p>
    6. Меры по защите информации о Пользователях
</p>
<p>
    6.1. Администрация Сайта принимает технические и организационно-правовые меры в целях обеспечения защиты персональных данных Пользователя от неправомерного
    или случайного доступа к ним, уничтожения, изменения, блокирования, копирования, распространения, а также от иных неправомерных действий.
</p>
<p>
    6.2. Для авторизации доступа к Сайту используется логин (адрес электронной почты или номер мобильного телефона) и пароль Пользователя. Ответственность за
    сохранность данной информации несет Пользователь. Пользователь не вправе передавать собственный логин и пароль третьим лицам, а также обязан предпринимать
    меры по обеспечению их конфиденциальности.
</p>
<p>
    7. Ограничение действия Правил
</p>
<p>
    Действие настоящих Правил не распространяется на действия и интернет-ресурсы третьих лиц.
    <br/>
    <br/>
    Администрация Сайта не несет ответственности за действия третьих лиц, получивших в результате использования Интернета или Услуг Сайта доступ к
    общедоступной информации о Пользователе на Сайте, за последствия использования информации, которая, в силу природы Сайта, доступна любому пользователю сети
    Интернет. Администрация Сайта рекомендует Пользователям ответственно подходить к решению вопроса об объеме информации о себе, размещаемой на Сайте.
    <br/>
    <br/>
    <br/>
    <br/>
    <a name="9._Обращения_пользователей"></a>
</p>
<p>
    8. Обращения пользователей
</p>
<p>
    8.1. Пользователи вправе направлять Администрации Сайта свои запросы, в том числе запросы относительно использования их персональных данных по адресу
    электронной почты: <a href="mailto:hello@mindpowergame.com">hello@mindpowergame.com</a>.
</p>
<p>
    8.2. Запрос, направляемый пользователем, должен содержать следующую информацию:
</p>
<p>
    номер основного документа, удостоверяющего личность пользователя или его представителя;
</p>
<p>
    сведения о дате выдачи указанного документа и выдавшем его органе;
</p>
<p>
    сведения, подтверждающие участие пользователя в отношениях с оператором (в частности, порядковый номер id пользователя);
</p>
<p>
    подпись пользователя или его представителя.
</p>
<p>
    8.3. Администрация Сайта обязуется рассмотреть и направить ответ на поступивший запрос пользователя в течение 30 дней с момента поступления обращения.
</p>
<p>
    8.4. Вся корреспонденция, полученная Администрацией Сайта от пользователей, относится к информации ограниченного доступа и не разглашается без письменного
    согласия Пользователя. Персональные данные и иная информация о Пользователе, направившем запрос, не могут быть без специального согласия Пользователя
    использованы иначе, как для ответа по теме полученного запроса или в случаях, прямо предусмотренных законодательством.
</p>
</div>
</div>
</div>
</div>
