
    <div id="wrapper">
    <div class="container">

      <div >
        <div class="row">
            <div class="col-lg-12">
            <div class="">
                <fieldset>
                  <legend>Регистрация</legend>
                     <%= form_for(User.new, :remote => true, :html => {:class => "form-horizontal"}) do |f| %>
                  <div class="form-group">
                    <label for="inputEmail" class="col-lg-2 control-label">Фамилия</label>
                    <div class="col-lg-10">
                        <%= f.text_field :surname, :class => 'form-control' %>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputEmail" class="col-lg-2 control-label">Имя</label>
                    <div class="col-lg-10">
                        <%= f.text_field :name, :class => 'form-control' %>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputEmail" class="col-lg-2 control-label">Город</label>
                    <div class="col-lg-10">
                          <%= f.text_field :city, :class => 'form-control' %>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputEmail" class="col-lg-2 control-label">Организация</label>
                    <div class="col-lg-10">
                          <%= f.text_field :organisation, :class => 'form-control' %>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputEmail" class="col-lg-2 control-label">E-mail</label>
                    <div class="col-lg-10">
                          <%= f.text_field :mail, :class => 'form-control' %>
                      <span class="help-block">Должен быть рабочим, так как используется для восстановления пароля</span>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputPassword" class="col-lg-2 control-label">Пароль</label>
                    <div class="col-lg-10">
                          <%= f.password_field :password, :class => 'form-control' %>
                      <span class="help-block">Не менее 6 символов</span>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputPassword" class="col-lg-2 control-label">Повторите пароль</label>
                    <div class="col-lg-10">
                        <%= f.password_field :password_confirmation, :class => 'form-control' %>
                    </div>
                  </div>
                
                  <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                          <%= f.submit "Регистрация", class: "btn btn-large btn-primary" %>
                      <button type="reset" class="btn btn-default btn-lg">Очистить форму</button>
                    </div>
                  </div>    
                       <div class="form-group"><div class="col-lg-10 col-lg-offset-2"><div class="error"></div></div></div>
                  <% end %>
                  <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
						<ul class="nav nav-pills">
						  <li><a href="/signin">Войти</a></li>
						  <li><a href="/forgot">Забыли пароль?</a></li>
						</ul>
                    </div>
                  </div>
               </fieldset>
          
            </div>
         </div>

        </div>
      </div>




    </div>


