    <div id="wrapper">
  <div class="container">
    <div>
      <div class="row">
        <div class="col-lg-4">
<h1>Авторизация</h1>
<hr/>
<p class="notice"><%= notice %></p>


<%= form_for(resource, as: resource_name, url: new_user_session_path) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, class: "form-control"  %>
  </div>

  <div class="field">
    <%= f.label "Пароль" %><br />
    <%= f.password_field :password, autocomplete: "off", class: "form-control"  %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me  %>
      <%= f.label "Запомнить меня" %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Войти", class: "btn btn-lg btn-info" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
  </div>
  </div>
  </div>
  </div>
  </div>

