<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes"><%= current_user.name + " " + current_user.surname + " " + current_user.check.to_s + "руб." %> <span class="caret"></span></a>
    <ul class="dropdown-menu" aria-labelledby="themes">
        <li><a href="/answers"> Ответы </a></li>
        <li><a href="/users"> Пользователи </a> </li>
        <li><a href="/users.csv"> CSV </a></li>
        <li><a href="/results"> Результаты </a></li>
        <li><a href="/turnirs">Турниры</a></li>
        <li><a href="/winpacks">Софтины</a></li>
    </ul>
</li>
