<ul class="nav nav-pills">
    <li><%= link_to 'Пользователи', users_path %></li>
    <li><%= link_to 'Ответы', answers_path %></li>
    <li><%= link_to 'Результаты', results_path %></li>
    <li><%= link_to 'Турниры', turnirs_path %></li>
    <li><%= link_to 'Дистрибутивы', winpacks_path %></li>
    <li><%= link_to 'Лог', logs_path %></li>
</ul>
<br/>
