<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/bootstrap.css" media="screen">
    <link rel="stylesheet" href="/bootswatch.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Mind Power" %></title>
    <%= csrf_meta_tags %>
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
        <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
    <![endif]-->
    <!-- For third-generation iPad with high-resolution Retina display: -->
    <!-- Size should be 144 x 144 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>
    <!-- For iPhone with high-resolution Retina display: -->
    <!-- Size should be 114 x 114 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>
    <!-- For first- and second-generation iPad: -->
    <!-- Size should be 72 x 72 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>
    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <!-- Size should be 57 x 57 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>
    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>
    <%= javascript_include_tag "application" %>
</head>
<body>
    <br/>
    <div class="navbar navbar-fixed-top navbar-default navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse" id="navbar-main">
                <a href="/" class="navbar-brand"><%= image_tag('imgo.jpg') %></a>
                <ul class="nav navbar-nav">
                    <li class=" <% if @pageid == 'result' %> active5 <% end %>">
                      <!--<a href="/results">Турниры</a>-->
                        <%= link_to "Турниры", turnirs_path %>
                    </li>
                    <li><a href="http://qd.mindpowergame.com/">Вопрос дня</a></li>
                </ul>
                <% if current_user %>
                    <ul class="nav navbar-nav navbar-right">
                        <% if current_user.is_admin %>
                            <%= render 'layouts/adminheaderli' %>
                        <% else %>
                            <li class="">
                                <%= link_to  current_user.name + " " + current_user.surname + " " + current_user.check.to_s + "руб.", user_path(current_user) %>
                            </li>
                        <%end %>
                        <li class=""><%= link_to 'Выход', destroy_user_session_path, method: :delete %></li>
                    </ul>
                <% else %>
                    <ul class="nav navbar-nav navbar-right">
                        <li class=" <% if @pageid == 'signin' %> active5 <% end %>"><%= link_to 'Вход', new_user_session_path %></li>
                        <li class=" <% if @pageid == 'reg2' %> active5 <% end %>">
                          <%= link_to "Регистрация", new_user_registration_path %>
                        </li>
                    </ul>
                <% end %>
            </div>
        </div>
    </div>

    <%= yield %>

    <!-- Yandex.Metrika counter --><script type="text/javascript"> (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter31137121 = new Ya.Metrika({ id:31137121, clickmap:true, trackLinks:true, accurateTrackBounce:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");</script><noscript><div><img src="https://mc.yandex.ru/watch/31137121" style="position:absolute; left:-9999px;" alt="" /></div></noscript><!-- /Yandex.Metrika counter -->
    <footer>
        <div class="row">
            <div class="container">
                <p>&copy; Mind Power &mdash; программный комплекс и клуб интеллектуальных игр, 2015</p>
                <p>Авторы &mdash; Вячеслав Гаранович, Максим Тепленёв.</p>
                <p><a href="/oferta/">Публичная оферта, лицензия, способы оплаты, реквизиты</a> &mdash; <a href="/privacy/">Политика конфиденциальности</a> &mdash; <a href="/contacts/">Контакты</a></p>
            </div>
        </div>
    </footer>
</body>
</html>









